html{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}
.calculator{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 100vh;
background-color: aqua;
}
.calculator .calc{
    height: 25rem;
    width: 15rem;
    background-color:rgb(185, 148, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
    border-radius: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2348afd4' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.calculator .calc .line{
    display: flex;
    padding: .1rem;
}
.calculator .calc .line button{
    margin: .1rem;
    padding: .4rem;
    width: 3rem;
    background-color:rgb(231, 245, 244);
    color: rgb(10, 10, 9);
    cursor: pointer;
    border: 0;
    border-radius: .5rem;
}
.calculator .calc .line button:hover,
.calculator .calc .line button.operator:hover{
    background-color: springgreen;
    color: tomato;
    transition: background .5s ease-in-out;
}
.calculator .calc .line button.operator{
    background-color:violet ;
}
.result{
    background-color: rgba(0, 0, 0, .6);
    border-radius: .5rem;
    width: 85%;
    height: 50%;
    margin-bottom: .5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}
.result p{
    padding: 0 1rem;
}
#delete{
    background-color: red;
}
#history{
    height: 90%;
    width: 90%;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
span{
    display: flex;
    justify-content: space-between  ;
    margin-bottom: .1rem;
}
.remove{
    border: 0;
    background-color: orangered;
    color: white;
    cursor: pointer;
}
#calswitch,
#clear,
#delete,
#undo,
#historyBtn{
    margin: .1rem;
    padding: .2rem;
    width: 2.3rem;
    font-size: 12px;
    border-radius: .2rem;
}
